.detail_title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    /* background-color: aqua; */
}

.detail_title>h1 {
    font-size: 40px;
    font-family: 'Inter';
    font-weight: 700;
    color: #FF8256;
}

.detail_title>span {
    font-size: 18px;
    font-family: 'Inter';
    font-weight: 400;
    color: #8C8C8C;
    text-align: center;
}