
header{
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #E7E7E7;
    background-color: #ffffff;
}

.header_container{
    width: 80%;
    display: flex;
    justify-content:space-between;
    align-items: center;

    /* background-color: antiquewhite; */
}

.logo {
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(194, 136, 60); */
}

.logo>img{
    width: 170px;
    /* background-color: antiquewhite; */
}

.header_menu{
    width: 320px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* background-color: aqua; */
}

