.profile-block {
  display: block;
  justify-content: center;
  margin-top: 3rem;
}

.profile-block__content {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.profile-block__content-img {
  width: 10rem;
  height: 10rem;
  border: 1px solid black;
  border-radius: 50%;
}

.profile-block__content-nickname {
  color: #000;
  text-align: center;
  font-family: inherit;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 3.7rem;
  /* border: none; */
  background: white;
  width: 4rem;
}

.profile-block__content-editbtn {
  margin-left: 1rem;
  width: 2.5rem;
  height: 1.5625rem;
  color: #fff;
  text-align: center;
  font-family: inherit;
  font-size: 0.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 1.875rem;
  background: #cfcfcf;
}

.profile-image {
  width: 20rem;
  height: 11.25rem;
  color: #cfcfcf;
}
