.mypage-selectbar {
  width: 20.125rem;
  justify-content: center;
  align-items: center;
  margin-top: 4.75rem;
}

.mypage-selectbar__box {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  width: 19.125rem;
  height: 3.125rem;
  flex-shrink: 0;
  border: 1.5px solid #e7e7e7;
  background: white;
  color: #000;
  font-family: inherit;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}

.mypage-selectbar__box-selected {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  width: 19.125rem;
  height: 3.125rem;
  flex-shrink: 0;
  border: 1.5px solid #e7e7e7;
  background: #f5f5f5;
  color: #000;
  font-family: inherit;
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
